
RealEstateProject/src/main/resources/application-aws.properties
RealEstateProject/src/main/resources/application-kakao.properties
RealEstateProject/src/main/webapp/images/file/application-aws.properties
